.license-section {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}

.license-content h6 {
    color: #495057;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.license-content p {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 12px;
    text-align: justify;
}

.accordion-button:not(.collapsed) {
    background-color: #007bff !important; /* Colore primario di Bootstrap */
    color: white !important;
}

.accordion-button {
    background-color: #6c757d !important; /* Colore secondario */
    color: white !important;
}

